@model DAL.Models.MenuItem

@{
    Layout = "~/Views/Shared/PartialView/_NestedLayout.cshtml";
}

<div class="form-group">
    @Html.LabelFor(model => model.MenuId, htmlAttributes: new { @class = "control-label" })
    @Html.DropDownList("MenuId", null, "Select Menu", htmlAttributes: new { @class = "form-control", @id = "ddl_menu", @name = "ddl_menu", @onchange = "LoadSubMenu();"})
    @Html.ValidationMessageFor(model => model.MenuId, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.SubMenuId, htmlAttributes: new { @class = "control-label" })
    @Html.DropDownList("SubMenuId", null, "Select SubMenu", htmlAttributes: new { @class = "form-control", @id = "ddl_subMenu", @name = "ddl_subMenu" })
    @Html.ValidationMessageFor(model => model.SubMenuId, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.DisplayNameFor(n => n.Name) } })
    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.ControllerName, htmlAttributes: new { @class = "control-label" })
    @Html.EditorFor(model => model.ControllerName, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.ControllerName, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.ActionName, htmlAttributes: new { @class = "control-label" })
    @Html.EditorFor(model => model.ActionName, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.ActionName, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.IconClass, htmlAttributes: new { @class = "control-label" })
    @Html.EditorFor(model => model.IconClass, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.DisplayNameFor(n => n.IconClass) } })
    @Html.ValidationMessageFor(model => model.IconClass, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Order, htmlAttributes: new { @class = "control-label" })
    @Html.EditorFor(model => model.Order, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.DisplayNameFor(n => n.Order) } })
    @Html.ValidationMessageFor(model => model.Order, "", new { @class = "text-danger" })
</div>

<script>
    function LoadSubMenu() {
        $.ajax({
            url: '/SubMenus/GetSubMenusByMenuId',
            method: 'POST',
            data: {
                MenuId: $('#ddl_menu').val(),
            },
            cache: false,
            error: function () {
                alert("An error occoured!");
            },
            success: function (response) {
                $('#ddl_subMenu').empty();
                $('#ddl_subMenu').append($('<option>', {
                    value: '',
                    text: 'Select SubMenu'
                }));
                for (var i = 0; i < response.length; i++) {
                    var opt = new Option(response[i].Name, response[i].Sl);
                    $('#ddl_subMenu').append(opt);
                }
            }
        });
    };
</script>