@model IEnumerable<DAL.Models.Menu>
@{
    Layout = "~/Views/Shared/PartialView/_NestedLayout.cshtml";
    int rowNo = 0;
}
<table id="myTable" class="table table-striped dt-responsive" width=100%>
    <thead>
    <tr>
        <th>SL</th>
        <th>Action</th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IconClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order)
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(rowNo += 1)
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false">Options <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Details", "Details", new { id = item.Sl })</li>
                            <li>@Html.ActionLink("Edit", "Edit", new { id = item.Sl })</li>
                            <li>@Html.ActionLink("Delete", "Delete", new { id = item.Sl })</li>
                        </ul>
                    </div>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IconClass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order)
                </td>
            </tr>
        }
    </tbody>
</table>
@section content
{
    @Styles.Render("~/Content/dataTable")
}
@section scripts
{
    @Scripts.Render("~/bundles/dataTable")
    <script>
        $(document).ready(function() {
            $('#myTable').DataTable();
        });
    </script>
}
