@model JobPortal.ViewModels.ExternalLoginListViewModel
@using Microsoft.Owin.Security
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList" class="social-auth-links text-center">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        if (@p.AuthenticationType.Equals("Facebook"))
                        {
                            <button type="submit" class="btn btn-block btn-social btn-facebook btn-flat" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                                <i class="fa fa-facebook"></i>
                                Sign in using @p.AuthenticationType
                            </button>
                        }
                        else if (@p.AuthenticationType.Equals("Google"))
                        {
                            <button type="submit" class="btn btn-block btn-social btn-google btn-flat" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                                <i class="fa fa-google-plus"></i>
                                Sign in using @p.AuthenticationType
                            </button>
                        }
                        else if (@p.AuthenticationType.Equals("twitter"))
                        {
                            <button type="submit" class="btn btn-block btn-social btn-twitter btn-flat" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                                <i class="fa fa-twitter"></i>
                                Sign in using @p.AuthenticationType
                            </button>
                        }

                    }
                </p>
                @*<a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                    <i class="fa fa-facebook"></i> Sign in using
                    Facebook
                </a>
                <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                    <i class="fa fa-google-plus"></i> Sign in using
                    Google+
                </a>*@
            </div>
        }
    }
}
