@model JobPortal.Models.SendCodeViewModel
@{
    ViewBag.Title = "Send";
    Layout = "../Shared/_Login.cshtml";
}

<h2>@ViewBag.Title.</h2>

<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>Admin</b>LTE</a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Send Code</p>

        @using (Html.BeginForm("SendCode", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("rememberMe", @Model.RememberMe)
            @*@Html.ValidationSummary("", new {@class = "text-danger"})*@

            <div class="form-group has-feedback">
                Select Two-Factor Authentication Provider:
                @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers)
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-block btn-flat" value="Submit" />
            </div>
        }

    </div>
</div>

