@model JobPortal.ViewModels.VerifyCodeViewModel
@{
    ViewBag.Title = "Verify";
    Layout = "../Shared/_Login.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>Admin</b>LTE</a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Verify Code</p>

        @using (Html.BeginForm("VerifyCode", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("provider", @Model.Provider)
            @Html.Hidden("rememberMe", @Model.RememberMe)

            <h4>Enter verification code</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group has-feedback">
                @Html.LabelFor(m => m.Code, new {@class = "col-md-2 control-label"})
                @Html.TextBoxFor(m => m.Code, new {@class = "form-control"})
            </div>
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.RememberBrowser)
                @Html.LabelFor(m => m.RememberBrowser)
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-block btn-flat" value="Submit" />
            </div>
        }

    </div>
</div>
